<div class="container mt-2 mx-0 mw-100">
    <div class="row container--border bg-primary py-2">
        <div class="col-12 fw-bold text-light">
            Pending Confirmation
        </div>
    </div>
    <div class="row container--border bg-secondary-custom">

        <div class="col-lg-4 col-12 child-container--border py-1">
            <div class="py-1">
                <span class="text-success fw-bold">Increase</span> CTP flow to agglomeration
            </div>
            <div class="py-1">
                Current Value: <span class="text-primary fw-bold">160</span> m3/h to <span
                    class="text-primary fw-bold">240</span> m3/h
            </div>
        </div>
        <div class="col-lg-4 col-12 child-container--border py-1">
            <div class="py-1">
                <span class="text-danger fw-bold">Decrease</span> Green Liquor Flow Rate
            </div>
            <div class="py-1">
                Current Value: <span class="text-primary fw-bold">460</span> m3/h to <span
                    class="text-primary fw-bold">256</span> m3/h
            </div>
        </div>
        <div class="col-lg-4 col-12 child-container--border py-1">
            <div class="py-1">
                <span class="text-success fw-bold">Increase</span> Fine Stream Density
            </div>
            <div class="py-1">
                Current Value: <span class="text-primary fw-bold">1.61</span> m3/h to <span
                    class="text-primary fw-bold">1.92</span> m3/h
            </div>
        </div>
    </div>
    <div class="row container--border">
        <div class="col-lg-3 col-md-6 text-center text-lg-start py-1">
            <div class="py-2">Impact on SST</div>
            <div class="fs-4 fw-bold text-primary py-2">1.20 g/g</div>
        </div>
        <div class="col-lg-3 col-md-6 text-center text-lg-start py-1">
            <div class="py-2">Impact on SST</div>
            <div class="fs-4 fw-bold text-primary py-2">3.2.0</div>
        </div>
        <div class="col-lg-3 col-md-6 text-center text-lg-start py-1">
            <div class="py-2">Impact on AGL Solid Concentration</div>
            <div class="fs-4 fw-bold text-primary py-2">1.80 g/L</div>
        </div>
        <div class="col-lg-3 col-md-6 text-center text-lg-start py-1">
            <div class="py-2">Time for Prediction</div>
            <div class="fs-4 fw-bold text-primary py-2">12 hours</div>
        </div>
    </div>
    <div class="container--border row justify-content-end rmd-btn-container">
        <button type="button" class="btn btn-outline-success me-1">
            <i class="fa-solid fa-check"></i>
        </button>
        <button type="button" class="btn btn-outline-danger">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>