<div class="bg-secondary-custom">
    <div class="topbar-container custom-container py-2">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="me-3 menu-icon-container" (click)="handleClickMenuIcon()">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <xng-breadcrumb></xng-breadcrumb>
            </div>
            <div>
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>
    </div>
</div>